.header-items{
    .follow-us{
        @media (max-width: 991px) {
            display: none;
        }
    }
    .hamburger-menu{
        @media (max-width: 991px) {
            display: unset !important;
        }
    }
}
header{
    .header-bottom{
        .navigation-bar{
            .navigation-bar-list {
                padding-left: 0;
                margin-bottom: 0;
                li {
                    padding: 4vh 1vh;
                    &:hover:not(#active){
                        background-color: blue;
                        a {
                            color: white;
                        }
                    }
                    a{
                        color: gray;
                    }
                }
                #active{
                    background-color: blue;
                    a {
                        color: white;
                    }
                }
            }
            .search-and-button{
                .button{
                    padding: 2vh 3vh;
                    background-color: blue;
                    color: white;
                }
            }
        }
        @media (max-width: 991px){
            display: none;
        }
    }
}
.hamburger-menu-items{
    background-color: rgb(30,144,255);
    width: 100%;
    height: 100%;
    visibility: hidden;
}
