.head-line{
    height: 4px;
    width: 100%;
    background-color: blue;
}

.section{
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h3{
        padding-top: 10vh;
    }
    .payment-plans{
        padding: 10vh 0vh;
        width: 100%;
        .plan-details, .recommended-plan{
            padding: 4vh 8vh 5vh 8vh;
            background-color: white;
        }
        .recommended-plan{
            background-color: rgb(52, 155, 233);
            padding: 6vh 8vh 8vh 8vh;
            @media (max-width: 991px){
                justify-content: center;
            }
        }
        .free-plan , .recommended-plan , .professional-plan {
            .plan-details{
                @media (max-width: 991px){
                    height: 100vh;
                    justify-content: center;
                }
            }
            @media (max-width: 991px){
                width: 100%;
                height: 100vh;
                margin-bottom: 5vh;
            }
        }
        @media (max-width: 991px){
            flex-direction: column;
        }
    }
}